<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="helpAction">
            <h2><span jhiTranslate="fraternityApp.helpAction.detail.title">Help Action</span> {{helpAction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fraternityApp.helpAction.to">To</span></dt>
                <dd>
                    {{helpAction.to?.login}}
                </dd>
                <dt><span jhiTranslate="fraternityApp.helpAction.from">From</span></dt>
                <dd>
                    {{helpAction.from?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/help-action', helpAction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
